.stock-list-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.watchlist-wrapper {
    display:flex;
    flex-direction: row;
    gap: 100px;
}

.update-button-wrapper {
    margin-top: 22px;
}
